@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans');
main{
    height: 100vh;
	width: 100vw;
	background: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    font-family: 'Merriweather Sans', sans-serif;
}
	#errorText{

    
    font-size: 22px;
    margin: 14px 0;}

	#errorLink{
        
    
    font-size: 20px;
    padding: 12px;
    border: 1px solid;
    color: #000;
    background-color: transparent;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
    color: #fff;
    background: #000;
}
